body {
    background-color: white
}

#text {
    width: 800px;
    margin: auto

}

#header {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px
}

#subhead {
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

#nav {
    padding: 1px;
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}

.nav {
    list-style-type: none;
  
}


#content{
    padding: 5px;
    overflow: scroll;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#rickroll {
    padding: 0px 0px 0px 5px
}

#pic {
    padding: 2px;
}

#footer {
    font-family:'Courier New', Courier, monospace;
    padding: 5px

}
